{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h2><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h2>
  <h3>Add a new entry:</h3>
{% endblock page_header %}

{% block content %}
  <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post' class="form">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_text" class="form-label">Entry:</label>
        <textarea name="text" class="form-control" id="id_text" rows="3" required></textarea>
    </div>

    <button name="submit" class="btn btn-primary">Add Entry</button>
  </form>
{% endblock content %}