{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Topics</h1>

    <form class="d-flex w-50" action="{% url 'learning_logs:search_results' %}" method="get">
      <input class="form-control me-2" type="search" name="q" placeholder="Search Topics or Entries" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li><h3>No topics have been added yet.</h3></li>
    {% endfor %}
  </ul>

  <h3>
    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
  </h3>
{% endblock content %}